header, main, nav, footer {
    margin: 3% auto;
    max-width: 760px;
}

body {
    background-color:#edd0ce;
}

.main-heading {
    text-align: right;
}

header h1 {
    background-color: #328fa8;
    color: #baae29;
    padding: 0.5em;
    border-radius: 10px;
    text-align: left;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

img {
    width: 215px;
    height: 275px;
    box-shadow: 0 0 20px 2px;
    margin: 1em;
    float: right;
}

/* Stuff in the main/nav */
main h2 {
    padding-left: 1em;
    padding-bottom: 0.5em;
}

h2 {
    margin-left: 20px;
}

ul {
    margin-top: 25px;
    margin-bottom: 45px;
    font-size: 18px;
}

ul a {
    color: blue;
}

ul a:hover {
    color: black;
}
/* Footer stuff here*/
footer {
    background-color: #328fa8;
    color: #382a16;
    padding: 0.5em;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

#lastUpdated {
    color: darkred;
    padding-left: 1em;
    border-radius: 10px;
    text-align: center;
}

footer a {
    color: blue;
}

footer a:hover {
    color: black;
}