@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;

}

h1 {
    color: red;
    text-align: left;
}

img {
    max-width: 100%;
    box-shadow: 0 0 20px 2px;
    padding: 1em;
    border-radius: 10px;
}

footer {
    background-color: darkcyan;
}

#lastUpdate {
    color: darkred;
}

footer a {
    color: blue;
}

footer a:hover {
    color: black;
}