header, main, nav, footer {
    margin: 3% auto;
    max-width: 760px;
}

body {
    background-color:#edd0ce;
}

header, footer, #lastUpdated {
    background-color: #3aaccc;
    color:  #f7fb05;
}

h1 {
    color: #f7fb05;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    padding: 0.5em;
    text-align: center;
}

header img {
    width: 200px;
    height: auto;
    margin-left: 5em;
    }

/* Stuff in the main/nav */
main h2 {
    padding-left: 1em;
    padding-bottom: 0.5em;
}

h2 {
    margin-left: 20px;
    font-size: 20px;
}

ul {
    margin-top: 25px;
    margin-bottom: 45px;
    font-size: 17px;
}

ul a {
    color: blue;
}

ul a:hover {
    color: black;
}
/* Footer stuff here*/
footer {
    padding: 0.5em;
    text-align: center;
    font-size: 18px;
}

#lastUpdated {
    padding-left: 1em;
    text-align: center;
}

footer a {
    color: unset;
    text-decoration: none;
  }

  footer a:hover {
      color: purple;
  }