* {
    box-sizing: border-box;
  }
  
  html,
  body {
    width: 100vw;
  }
  
  header,
  main,
  footer {
    margin: 0 auto;
    padding: 0.75rem;
    max-width: 60rem;
  }
  
  header,
  footer {
    background-color: #328fa8;
    color: #f7fb05;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.253);
    text-align: center;
  }
    
  header h1 {
      font-size: 26px;
    }
    
  header h2 {
        font-size: 18px;
    }
    
  header, h3 {
    font-family: 'Lobster', cursive;
    }


 /* Main rules go here */   
    main {
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        font-family: 'Maven Pro', sans-serif;
        background-color: white;
    }
    
    img {
        max-width: 100%;
        display: block;
        margin: 1em auto;
        box-shadow: 0 0 5px black;
    }
    
    h3,
    h4 {
        margin: 0;
    }
   
    article {
        background-color: #f1f0f8;
        border-radius: 10px;
    }
    
    article h3 {
        background-color:  #328fa8;
        padding: 10px;
        color: white;
        border-radius: 10px 10px 0 0;
        font-size: 22px;
        text-align: center;
    }
    
    article > div {
        padding: 10px;
    }
    
    article h4 {
        font-size: 1rem;
        font-weight: bold;
        margin: 2px 0 7px 0;
        text-align: center;
    }
    
    article p {
        line-height: 1.5rem;
        text-align: center;
    }
    
    article a {
        display: inline-block;
        margin-bottom: 10px;
        text-decoration: none;
    }
    
    article a:hover {
        color: purple;
    }


    article div {
        text-align: center;
    }


    /* Footer rules go here */
    footer {
      font-size: 22px;
      font-weight: bold;
      font-family: 'Maven Pro', sans-serif;
    }
    
    footer a {
      color: unset;
      text-decoration: none;
    }

    footer a:hover {
        color: purple;
    }