@media only screen and (min-width: 64rem) {


    /* HEADER STYLE */

    /* NAV STYLE*/
    nav ul#optionsNav, .headerStyle {
        max-width: 64rem;
        margin: auto;
    }

    /* MAIN STYLE */

    main, footer {
        margin: 0 auto;
    }

    main .summary {
        padding: 5px;
        position: absolute;
        top: 305px;
        background-color: #f7fff7;
    }

    /* BODY STYLE */
    .center-content {
        max-width: 56rem;
        margin: auto;
        background-color: #D5F3FE;
    }
    #forecastDays {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  
} /* end of media query */