@media only screen and (min-width: 35rem) {

    /* HEADER STYLE*/
    
    header {
        padding-bottom: 2px;
    }
    
    header img {
        width: 75px;
    }

    header h1 {
        text-align: left;
        font-size: 42px;
    }

    header h2 {
        text-align: left;
        font-size: 22px;
    }

    header h1, header h2 {
        margin-left: 85px;
    }
    /*MAIN STYLE */
    

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }
    
} /* end of media query */