* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* FONT / COLOR STYLES */

h1, h2, h3 {
    font-family: 'Patrick Hand', cursive;
}

p, nav, ol li, ul li, table tbody tr td, .contentbox, .showme, form {
    font-family: 'DM Sans', sans-serif;
}

/* Apply background color */
header, footer, nav {
    background-color: #3C99DC;
}

body {
    background-color: #D5F3FE;
}


/* HEADER STYLE */
.logo {
    float: left;
    width: auto;
    background-color: #3C99DC;
}

header {
    padding: 1rem;
    margin: 0;
}

header h1{
    margin: 1rem;
    text-align: left;
    font-size: 32px;
}

header h2 {
    margin-left: 15px;
    text-align: left;
    font-size: 20px;
}

header h1, header h2 {
    margin-left: 85px;
}


/*TABLE STUFF */
form fieldset {
    max-width: 650px;
    margin: 20px auto;
}

form fieldset {
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem; 
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: black;
}
form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font: 16px;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,.1);
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #3C99DC;
    color: black;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 5px 465px;
}
form label.top input:required {
    border-left: 6px solid red;
}
form label.top input:required:valid {
    border-left: 6px solid green;
}

/* MESSAGE STUFF */
header div#message {
    background-color: purple;
}

header .showme {
    display: block;
    padding: 1rem;
    margin: 0;
    color: white;
    margin-bottom: 7px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

header .hideme {
    display: none;
}

/* NAV STYLE */

.menuButton {
    color: black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    ;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: .5rem 0;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

.active {
    background-color: #66D3FA;
}

nav ul.hide {
    display: none;
}

/* MAIN STYLE */

main {
    background-color: #D5F3FE;
    padding: 1rem;
}


/* FOOTER STYULE */

footer {
    padding: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

footer a {
    color: black;
}

/* ADDITIONAL STYLES */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }